<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add New Record</title>
    <link rel="stylesheet" href="css/bootstrap-3.3.6-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>
<body>

<a type="button" class="btn btn-primary btn-sm " style="margin: 10px" th:href="@{/}"><span
        class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Home</a>

<div class="bootstrap-iso">
    <div class="container-fluid" style="margin-top: 10%">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3>Add New Record</h3>

                <div class="form-group">
                    <form id="recordForm" action="#" th:action="@{/processAddNewRecord}" th:object="${record}"
                          method="post">
                        <table class="table table-responsive">
                            <tr>
                                <td class="col-sm-4">Name:</td>
                                <td><input type="text" class="form-control" th:field="*{name}"/></td>
                                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                            </tr>
                            <tr>
                                <td class="col-sm-4"><p>PPS Number: </p></td>
                                <td><input type="text" class="form-control" th:field="*{ppsNumber}"/></td>
                                <td th:if="${#fields.hasErrors('ppsNumber')}" th:errors="*{ppsNumber}">PPS Error</td>
                            </tr>
                            <tr>
                                <td class="col-sm-4">Date of Birth:</td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-control" id="date" placeholder="DD/MM/YYYY" type="text"
                                               th:field="*{dateOfBirth}"/>
                                    </div>
                                </td>
                                <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">DOB Error
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-4"><p>Mobile Number:</p></td>
                                <td><input id="mobileNum" type="text" class="form-control" th:field="*{mobileNumber}"/>
                                </td>
                                <td th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}">Mobile Num
                                    Error
                                </td>
                            </tr>

                            <tr>
                                <td><p><input type="submit" class="btn btn-default" value="Submit"/></p></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div th:if="${errMsg != null}">
                    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title text-danger" id="mySmallModalLabel">Error Message</h4>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${errMsg}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="css/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="js/moment.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        var date_input = $('input[name="dateOfBirth"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true
        });

        jQuery.validator.addMethod("dateOfBirthValidator", function (value, element) {
                    return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
                },
                "Please enter a date in the format dd/mm/yyyy."
        );

        jQuery.validator.addMethod("dateValidator", function (value, element) {
                    console.log("dateValidator v = " + value);

                    var selectedDate = moment(value, "DD/MM/YYYY");
                    var now = new Date();
                    console.log("selectedDate = " + selectedDate);
                    console.log("now = " + now);
                    if (selectedDate >= now) {
                        return false;
                    } else {
                        return true;
                    }
                },
                "Your Date of Birth can't be in the future.");

        jQuery.validator.addMethod("ageValidator", function (value, element) {
                    var age = moment().diff(moment(value, "DD/MM/YYYY"), 'years', true);
                    return age >= 16;
                },
                "You must be 16 or older.");

        jQuery.validator.addMethod("mobileValidator", function (value, element) {
                    console.log("mobileValidator v = " + value);

                    if (value == null || value == undefined || value == '')  {
                        return true;
                    }
                    else if (value.substring(0, 2) !== '08') {
                        return false;
                    } else {
                        return true;
                    }
                },
                "Mobile Number must start with '08"
        );

        $('#recordForm').validate({
            rules: {
                name: {
                    required: true,
                    maxlength: 25,
                    minlength: 2
                },
                ppsNumber: {required: true},
                dateOfBirth: {
                    dateValidator: true,
                    ageValidator: true,
                    dateOfBirthValidator: true,
                    required: true
                },
                mobileNumber: {
                    mobileValidator: true
                }
            },
            messages: {
                name: "Please enter a valid Name, it must be less than 25 characters.",
                ppsNumber: "Please enter your PPS Number.",
                dateOfBirth: {
                    required: "Please provide a Date of Birth"
                },
                mobileNumber: "Please make sure your mobile number start with '08'"
            }
        });

    })
</script>
<div th:if="${errMsg != null}">
    <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });
    </script>
</div>

</body>
</html>