<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-3.3.6-dist/bootstrap.css"/>
</head>
<body>

<div class="container">
    <div th:if="${errCode != null}">
        <h2 class="label-warning" th:text="${errCode}"></h2>
    </div>

    <div th:if="${errMsg != null}">
        <h2 class="label-warning" th:text="${errMsg}"></h2>
    </div>

    <a href="/">Back to landing page</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>